body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
background-image: url("../img/bg.jpg");
background-size: cover;
    background-position: center;
  }
  
  header {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  header h1 {
    text-align: center;
    margin: 0;
    font-size: 32px;
  }
  
  main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный чёрный фон для контента */
    border-radius: 10px; /* Скруглённые углы */
    margin: 20px;
  }
